{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
      <!--Section: Products v.3-->
    <section class="text-center mb-4">
    <div class="content-section">
        {% if default_shipping_address %}<h2>default shipping address: {{ default_shipping_address.street_address }}</h2>{% endif %}
       {% if default_billing_address %}<h2>default billing address: {{ default_billing_address.street_address }}</h2>{% endif %}
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Modify/Add Address</legend>
              {{ form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info">Update Address</button>
          </div>

      </form>
    </div>
    </section>
</div>
{% endblock content %}
